body {
    margin:0;
    background-color: lightgrey;
}

.inv {
    width:100%;
    height:72px;
}

.navbar{
    width:100%;
    height:72px;
    position: fixed;
    background-color:lightgreen ;
    box-shadow: 0 0 4px rgb(126, 123, 123);
}

.content {
    border: solid 1px red;
    width:1124px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.navbar--pages,.navbar--auth{
    border: solid 1px red;


    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.navbar--pages__link, .navbar--auth__link{
}

.questions {
    width:100%;
    border: solid 1px red;
}

.questions--card {
    padding: 16px;
    background-color: white;
}