{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"	content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
        <title>Вопросы и ответы - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="navbar">
            <header>
                <h1>Вопросы</h1>
            </header>
            <div class=content"></div>
                <a href="{% url 'new' %}">Главная</a>
                <a href="{% url 'popular' %}">Популярные</a>
            </div>
        </div>
        <section>
        {% block content %}
        {% endblock %}
        </section>
	</body>
</html>






