<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ask - {% endblock %}</title>
    {% block meta %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/css.css" %}">
    <!--<script src="{% static "js/scripts.js" %}"></script>/-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="navbar">
        <div class="content">
        <ul class="navbar--pages">
            <li><a href="/ask/" class="navbar--pages__link">Ask</a></li>
            <li><a href="/" class="navbar--pages__link">New</a></li>
            <li><a href="/popular/" class="navbar--pages__link">Popular</a></li>
        </ul>
    </div>
    <div class="inv"></div>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>