
{% extends 'base.html' %}

{% block title %}
    {{block.super}} {{ question.title }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>{{ question.title }}</h1>
    {% if question.author is not None %}
        <p>Submitted by {{ question.author }} on {{ question.added_at }}</p>
    {% else %}
        <p>Submitted by Anonymous User on {{ question.added_at }}</p>
    {% endif %}
    <p>{{ question.text }}</p>
    <h3>Добавление ответа:</h3>
    <form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Добавить">
    </form>
    <hr>
    {% if answers %}
        <div class="answers">
            {% for answer in answers %}
                <div class="answer" id="answer_{{ answer.id }}">
                    <h3>A{{ answer.id }}: {{ answer.author.username }} posted on {{ answer.added_at }}</h3>

                    <p>{{ answer.text }}</p>
                </div>

                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>No answers posted yet!</p>
    {% endif %}

{% endblock %}